<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Downloded</title>
</head>

<body class="show">
    <div class = "hero-image">
        <div class="table-users">
            <div class="header">Some of the scrapped images:</div>
            <table>
                {% for user_image in imagelist %}
                <td width="400">
                    <img width="300" height="300" src="{{ url_for('static', filename=user_image) }}" alt="User Image"></td>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>

</html>